<header>
    <nav class="nav-container">
        <div>
            <h1 class="nav-title">
                <!-- <fa-icon [icon]="filmIcon"></fa-icon> -->
                <img class="icon" style="font-size: 20px" src="assets/menu.png" alt="">
                <!-- <i class="fa-solid fa-table-cells-large"></i></i> -->
                GRIDBOX
            </h1>
        </div>
        <div class="nav-title-2">
            <h4>Home</h4>
            <h4>Magazine</h4>
            <h4> Dropdown <i class="fa-solid fa-caret-down"></i></h4>
            <h4>content Styles <i class="fa-solid fa-caret-down"></i></h4>
            <h4 class="last-item-title">Full Width</h4>
        </div>
    </nav>
</header>